#main-container.container
  .jumbotron
    %h2
      Please
      %a{ :href => "/users/login"} login
      or
      %a{ :href => "/users/new"} register
      %br
      %br
      %p Account required to manage your brands and any settings.
