.form_wrapper
  .panel.panel-default
    .panel-heading.strong
      Account manager
    .panel-body
      .form_container
        %a{ :href => "/users/edit", :class => "btn btn-success"} Edit profile
        %a{ :href => "/users/profile", :class => "btn btn-primary"} Show profile

.form_wrapper
  .panel.panel-default
    .panel-heading
      Please enter new password
    .panel-body
      = haml :"flash/notice"
      .form_container
        %form#new_user.form-horizontal.new_user{"accept-charset" => "UTF-8", :action => "/users/reset_password", :method => "post"}
          = form_input(@person, "password", :password => true)
          = form_input(@person, "confirm_password", :password => true)
          .text-right
            %a{ :href => "/users/profile", :class => "btn btn-default"} Cancel
            %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Reset"}



