#main-container.container
  .jumbotron
    %h2
      Thanks for register!
    %p
      %a{ :href => "/users/login"} Log In
      now and create your first brand. It is very simple!
    %p
      %small
        Feel free to send questions at:
        %a{href: "mailto:marcin.szczepanski@polcode.pl"} marcin.szczepanski@polcode.pl
